.profile {
    padding: 3.5rem 0 4rem;
    background-color: #ffffff;
     .profile-img {
         width: 150px;
         height: 150px;
         border-radius: 50%;
         border: solid 2px #ffffff;
         text-align: left;
     }
    }
    .profile-img-container {
        width: 150px; 
        margin:auto;
    }

    .profile-content-container {
        text-align: center;
        margin: auto;
    }