<section class="product pb-16">
  <h2 class="product-title relative mb-8 text-center font-semibold text-3xl tracking-tight">Product</h2>
  <div class="flex flex-wrap gap-4 justify-center">
    <ng-container *ngFor="let product of products">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="{{product.productImage.url}}" alt="hoge">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{product.name}}</div>
          <p class="text-gray-700 text-base">
            {{product.detailedInformation}}
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <ng-container *ngFor="let useSkill of useSkills">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{useSkill}}</span>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</section>