<section class="experience">
  <h2 class="experience-title">Experience</h2>
  <when-gt-xs>
    <div class="history">
      <div class="history-timeline"></div>
      <div class="container-fluid">
        <div class="d-flex flex-row">
          <div class="col-6">
            <article class="history-article-left">
              <div class="history-point"></div>
              <div class="history-title">
                <h3>2015.04 Kagawa University</h3>
              </div>
              <div class="history-content">
                <ul>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                </ul>
              </div>
            </article>
          </div>
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="col-6">
            <article class="history-article-right">
              <div class="history-point"></div>
              <div class="history-title">
                <h3>2015.04 Kagawa University</h3>
              </div>
              <div class="history-content">
                <ul>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                </ul>
              </div>
            </article>
          </div>
        </div>

      </div>
    </div>
  </when-gt-xs>
  <when-lt-sm>
    <div class="history">
      <div class="history-timeline"></div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-10">
            <article class="history-article-left">
              <div class="history-point"></div>
              <div class="history-title">
                <h3>2015.04 Kagawa University</h3>
              </div>
              <div class="history-content">
                <ul>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                </ul>
              </div>
            </article>
            <article class="history-article-left">
              <div class="history-point"></div>
              <div class="history-title">
                <h3>2015.04 Kagawa University</h3>
              </div>
              <div class="history-content">
                <ul>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                  <li>test</li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </when-lt-sm>
</section>