<section class="licenses">
  <div>
    <h2 class="licenses-title">Licenses</h2>
  </div>
  <div>
    <h3 style="text-align: center;">IT系資格</h3>
    <div class="row justify-content-center">
      <div class="col-8">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">
                資格名
              </th>
              <th scope="col" class="px-6 py-3">
                資格年月日
              </th>
          </thead>
          <tbody>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                test
              </th>
              <td class="px-6 py-4">
                test
              </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                test
              </th>
              <td class="px-6 py-4">
                test
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div>
    <h3 style="text-align: center;">非IT系資格</h3>
    <div class="row justify-content-center">
      <div class="col-8">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3">
                資格名
              </th>
              <th scope="col" class="px-6 py-3">
                資格年月日
              </th>
          </thead>
          <tbody>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                test
              </th>
              <td class="px-6 py-4">
                test
              </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                test
              </th>
              <td class="px-6 py-4">
                test
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>