<div class="flex flex-wrap gap-4 justify-center" style="padding: 1rem 3rem 3rem 3rem;">
  <ng-container *ngFor="let page of blogList">
    <div class="flex justify-center">
      <div class="blog-card rounded-lg shadow-lg bg-white max-w-sm">
        <a href="{{environment.url}}/{{page.route}}">ブログリンク</a>
        <img class="rounded-t-lg" src="{{environment.url}}/assets/images/blogs-logo.jpeg" alt="ブログ" width="780"
          height="520" />
        <div class="p-6">
          <h5 class="text-gray-900 text-xl font-extrabold mb-2">{{page.title}}</h5>
          <p class="text-gray-700 text-base mb-2">
            {{page.description}}
          </p>
          <div class="flex grow mb-2">
            <span
              class="inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-sky-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 fill-blue-500" viewBox="0 0 20 20"
                fill="currentColor">
                <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
              </svg>
              <span class="pl-2">{{page.category}}</span>
            </span>
          </div>
          <div class="flex grow mb-2">
            <span *ngFor="let tag of page.tags"
              class="inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-white bg-slate-400 rounded-full">{{tag}}</span>
          </div>

          <span class="text-base leading-6 font-medium text-gray-500 mb-2">
            投稿日: <time [dateTime]="page.publishedAt"> {{ page.publishedAt | date: "yyyy-MM-dd"
              }}
            </time>
          </span>
        </div>
      </div>
    </div>
  </ng-container>
</div>