<div class="container-fluid">
  <app-Profile></app-Profile>
  <app-Experience></app-Experience>
  <app-Skill></app-Skill>
  <section class="licenses">
    <div>
      <h2>保有資格</h2>
    </div>
    <div>
      <h3 style="text-align: center;">IT系資格</h3>
      <div class="row justify-content-center">
        <div class="col-8">
          <table class="table table-striped">
            <thead>
              <th>資格名</th>
              <th>取得年月日</th>
            </thead>
            <tbody>
              <tr>
                <td>test</td>
                <td>test</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div>
      <h3 style="text-align: center;">非IT系資格</h3>
      <div class="row justify-content-center">
        <div class="col-8">
          <table class="table table-striped">
            <thead>
              <th>資格名</th>
              <th>取得年月日</th>
            </thead>
            <tbody>
              <tr>
                <td>test</td>
                <td>test</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="product">
    <h2>制作物</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div class="card">
            <img src="https://placehold.jp/150x150.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="https://placehold.jp/150x150.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="https://placehold.jp/150x150.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img src="https://placehold.jp/150x150.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>