.profile {
    padding: 3.5rem 0 4rem;
background-color: #e6f2ff;
}

.experience {
    padding: 3.5rem 0 4rem;
    background-color: #f1f5f9;
}

.skills {
    padding: 3.5rem 0 4rem;
    background-color: #e6f2ff;
}

.licenses {
    padding: 3.5rem 0 4rem;
    background-color: #f1f5f9;
}